{% extends 'template.html.twig' %}

{% block title %}Entreprises{% endblock %}

{% block body %}
{{ parent() }}
<h2>Cette page affichera la liste des entreprises proposant un stage</h2>

{% endblock %}
