{% extends 'template.html.twig' %}

{% block title %}Stages{% endblock %}

{% block body %}
{{ parent() }}
<h2>Cette page affichera le descriptif du stage ayant pour identifiant {{idRessource}}</h2>

{% endblock %}
